.bazil-top-container {
  padding-left: 30px;
  margin-bottom: 60px;
}

.bazil-toc {
  margin-top: 60px;
}

.stealthlink {
  color: #333;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  background-image: -webkit-linear-gradient(top, #fafafa 0%, #fafafa 100%);
  background-image: linear-gradient(to bottom, #fafafa 0%, #fafafa 100%);
  background-color: #fafafa;
  color: #808080;
  border-color: #424242;
}

.blog-index-entry h1 {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.hdr-date {
    /* align with tbe bottom of the h1, not the top */
    margin-top: auto;
    margin-bottom: 0;
    /* don't word-wrap around the dashes in a date */
    white-space: nowrap;
}

/* bootstrap leaves <hr>'s almost invisible */
hr.strong {
  margin: 30px;
  border-top: 1px solid #ccc;
}
