<nav class="navbar navbar-expand navbar-dark bg-black" role="navigation">
	<a class="navbar-brand" href="/">{{.Site.Title}}<img src="/img/logo-white.svg" style="height: 24px; margin-left: 10px; vertical-align: top;"/></a>
  <ul class="navbar-nav mr-auto">
    {{$currentPage := .}}
	  {{range .Site.Menus.nav}}
	  <li class="nav-item {{if or ($currentPage.IsMenuCurrent "nav" .) ($currentPage.HasMenuCurrent "nav" .)}}active{{end}}"><a class="nav-link" href="{{.URL}}">{{.Name}}</a></li>
	  {{end}}
  </ul>
  </div>
</nav>
